.SimpleInput{
  outline: none !important;
  border-radius: 6px;
  color: black;
  border: 2px solid #CFD1D8;
  padding: 12px 16px;
  position: relative;
  width: 100%;

  &:focus, &:hover{
    box-shadow: none !important;
    border-color: #4D77FF;
  }
  &.not-valid{
    border: 2px solid #F23636 !important;
  }
  &::placeholder{
    color: #9F9F9F;
  }

  &:disabled{
    background: #EFEFF1;
    border-color: #EFEFF1;
  }
}



.validation-error-tooltip{
  transition: all 0.3s;
  position: absolute;
  top: -9px;
  height: 11px;
  left: 12px;
  padding-left: 6px;
  padding-right: 6px;
  max-width: 100%;
  font-size: 12px;
  background: white;
  z-index: 1;
  color: rgba(255, 29, 94, 1);
  transform: scale(0);
}

.validation-error-tooltip.active{
  transform: scale(1);
}